@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.animate{
  position: relative;
}
.animate::before{
  content: "";
  animation: words 20s infinite;
}
@keyframes words {
  1%,20%{
    content: "Front_End Developer"
  }
  21%,40%{
    content: "UI/UX Designer"
  }
  41%,60%{
    content: "Web Developer"
  }
  61%,80%{
    content: "Website creater"
  }
  81%,100%{
    content: "Wordpress Developer"
  }
}


.animate::after{
  content: "";
  height: 100%;
  width: 0;
  background-color: rgb(17 24 39);
  border-left: 4px solid white;
  position: absolute;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to{
    border-left: 4px solid rgb(17 24 39);
  }
}
@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 8px);
  }
}


.icons{
  border: 2px solid #14b5ff;
  box-shadow: 0 0 10px #00eaff;
}
.icons:hover{
  background-color: #00eaff;
  transform:scale(0.8)
}
.icons:hover .svgs{
  fill: rgb(17 24 39);
}



.btn{
  box-shadow: 0 0 10px #00eaff;
  overflow: hidden;
}
.hire-btn{
  padding-left: 70px;
  padding-right: 70px;
}
.trans{
  left: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease;
}
.hire-btn:hover .trans{
  left: 50%;
}
.hire-btn:hover .opper{
  color: black; 
  z-index: 9;
}
.opper{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}



.project-card{
  border: 2px solid #00eaff;
  background: url("/public/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.project-card:hover .project-text{
  display: block;
}
.project-card:hover .project-img{
  opacity: 0.5;
}
.project-text{
  display: none;
}


.nav-items:hover{
  color: rgb(172, 211, 255);
  text-shadow:  0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 30px #00eaff, 0 0 40px #00eaff;
}




@media only screen and (max-width: 910px) {
  .first-sec{
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .second-sec{
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .fifth-sec{
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}